#topo {
    width: 100%;
    background-color: gray;
    font-size: large;
    border: solid black 2px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

#menu-btn span {
    background-color: red;
    color: red;
}

h2 {
    color: white;
}

a {
    color: white;
    text-decoration: none;    
}

a:hover {
    color: black;
}

div#hero {
    border: 1px solid black;
    height: 600px;
    background: #ccc;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div.imagem {
    height: 150px;
}

div.titulo {
    height: 150px;
}

div.stacks {
    height: 150px;
}